<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.ShopAddressMapper">
	<!-- 查找 -->
	<select id="findShopAddress" parameterType="map"
		resultMap="shopAddressMap">
		select id,
		<include refid="all" />
		from shop_address
		<where>
			<if test="memberName!=null and memberName!=''">
				member_name like concat(#{memberName},'%')
			</if>
			<if test="isDefault!=null and isDefault!=''">
				and is_default=#{isDefault}
			</if>
			<if test="memberId!=null and memberId!=''">
				and member_id=#{memberId}
			</if>
			<if test="id!=null and id!=''">
				and id=#{id}
			</if>
		</where>
	</select>
	<!-- 查询一条 -->
	<select id="findOneShopAddress" parameterType="map"
		resultMap="shopAddressMap">
		select id,
		<include refid="all" />
		from shop_address
		<where>
			<if test="memberName!=null and memberName!=''">
				member_name like concat(#{memberName},'%')
			</if>
			<if test="isDefault!=null and isDefault!=''">
				and is_default=#{isDefault}
			</if>
			<if test="memberId!=null and memberId!=''">
				and member_id=#{memberId}
			</if>
			<if test="id!=null and id!=''">
				and id=#{id}
			</if>
		</where>
	</select>


	<!-- 添加 -->
	<insert id="addShopAddress"
		parameterType="com.hzitxx.hitao.entity.ShopAddress">
		insert into shop_address(
		<include refid="all" />
		)
		values(#{memberId},#{memberName},#{provinceId},#{cityId},#{districtId},#{fullRegion},#{address},#{telNumber},#{postCode},#{isDefault});
	</insert>

	<!-- 修改 -->
	<update id="updateShopAddress">
		update shop_address
		<set>
			<if test="memberId != null">
				member_id = #{memberId},
			</if>
			<if test="memberName != null">
				member_name = #{memberName},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId},
			</if>
			<if test="cityId != null">
				city_id = #{cityId},
			</if>
			<if test="districtId != null">
				district_id = #{districtId},
			</if>
			<if test="fullRegion != null">
				full_region = #{fullRegion},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="telNumber != null">
				tel_number = #{telNumber},
			</if>
			<if test="postCode != null">
				post_code = #{postCode},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault}
			</if>
		</set>
		<where>
			<if test="id!=null and id!=''">
				 id=#{id}
			</if>
		</where>
	</update>

	<!-- 物理删除 -->
	<delete id="deleteShopAddress" parameterType="Integer">
		delete from
		shop_address where id=#{id}
	</delete>


	<sql id="all">
		member_id,member_name,province_id,city_id,district_id,full_region,address,tel_number,post_code,is_default
	</sql>

	<resultMap type="com.hzitxx.hitao.entity.ShopAddress"
		id="shopAddressMap">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="member_name" property="memberName" />
		<result column="province_id" property="provinceId" />
		<result column="city_id" property="cityId" />
		<result column="district_id" property="districtId" />
		<result column="full_region" property="fullRegion" />
		<result column="address" property="address" />
		<result column="tel_number" property="telNumber" />
		<result column="post_code" property="postCode" />
		<result column="is_default" property="isDefault" />
	</resultMap>
</mapper>